<div class="container row col-md-4 col-md-offset-4" style="left: 0%; top: 70px;">
<p id="notice"><%= notice %></p>

<h1>Listing Enrollments</h1>

<table  class="table table-condensed" border="4">
  <thead>
    <tr>
      <th>Student</th>
      <th>Instructor</th>
      <th>Course</th>
      <th>Grade</th>
      <th>Admission</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @enrollments.each do |enrollment| %>
      <tr>
        <% @studentID = enrollment.student_id %>
        <% @instructorID = enrollment.instructor_id %>
        <% @courseID = enrollment.course_id %>
        <% @course_find = @courses.where('"courses"."id" = ?', "#{@courseID}")%>
        <% @course_find.each do |course| %>
            <% @course_name = course.Title %>
        <% end %>
        <% @instructor_find = @users.where('"users"."id" = ?', "#{@instructorID}")%>
        <% @instructor_find.each do |instructor| %>
            <% @instructor_name = instructor.name %>
        <% end %>
        <% @student_find = @users.where('"users"."id" = ?', "#{@studentID}")%>
        <% @student_find.each do |student| %>
            <% @student_name = student.name %>
        <% end %>
        <td><%= @student_name %></td>
        <td><%= @instructor_name %></td>
        <td><%= @course_name %></td>
        <td><%= enrollment.grade %></td>
        <% if enrollment.admission %>
            <td><%= "Approved" %></td>
            <% else %>
            <td><%= "Requested" %></td>
            <% end %>
        <td><%= link_to 'Show', enrollment %></td>
        <td><%= link_to 'Approve Request', edit_enrollment_path(enrollment) %></td>
        <td><%= link_to 'Grade', edit_enrollment_path(enrollment) %></td>
        <td><%= link_to 'Drop', enrollment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Enrollment', new_enrollment_path %>
</div>