<div class="container row col-md-4 col-md-offset-4" style="left: 0%; top: 70px;">
<p id="notice"><%= notice %></p>
  <% @studentID = @enrollment.student_id %>
  <% @instructorID = @enrollment.instructor_id %>
  <% @courseID = @enrollment.course_id %>
  <% @course_find = @courses.where('"courses"."id" = ?', "#{@courseID}")%>
  <% @course_find.each do |course| %>
      <% @course_name = course.Title %>
  <% end %>
  <% @instructor_find = @users.where('"users"."id" = ?', "#{@instructorID}")%>
  <% @instructor_find.each do |instructor| %>
      <% @instructor_name = instructor.name %>
  <% end %>
  <% @student_find = @users.where('"users"."id" = ?', "#{@studentID}")%>
  <% @student_find.each do |student| %>
      <% @student_name = student.name %>
  <% end %>
<p>
  <strong>Student:</strong>
  <%= @student_name %>
</p>

<p>
  <strong>Instructor:</strong>
  <%= @instructor_name %>
</p>

<p>
  <strong>Course:</strong>
  <%= @course_name %>
</p>

<p>
  <strong>Grade:</strong>
  <%= @enrollment.grade %>
</p>


<p>
  <strong>Admission:</strong>
  <%= @enrollment.admission %>
</p>

  <% if cannot? :do_as_student, :all %>
  <%= link_to 'Edit', edit_enrollment_path(@enrollment) %>
  <% end %>
  <% if can? :do_as_student, :all %>
      <%= link_to "Back", courses_path %>
  <% else %>
      <%= link_to 'Back', enrollments_path %>
  <% end %>
</div>