  <div class="container row col-lg-12 col-md-12 col-sm-12 " style="left: 0%; top: 70px;">
<p id="notice"><%= notice %></p>

<h1>Listing Courses</h1>
    <%= form_tag courses_path, :method => 'get' do %>
        <p>
        <%= text_field_tag :search, params[:search], placeholder: "Search Course" %>
        <%= submit_tag "Search", :name => nil %>
        </p>
    <% end %>


<table  class="table table-condensed" border="4">

  <thead>
    <tr>
      <th>Course num</th>
      <th>Title</th>
      <th>Description</th>
      <th>Instructor</th>
      <th>Start date</th>
      <th>End date</th>
      <th>Status</th>
      <th>Material</th>
      <% if can? :do_as_instructor, :all %>
      <th colspan="2"></th>
      <% else if can? :do_as_student, :all%>
          <th colspan="1"></th>
          <% else %>
          <th colspan="3"></th>
          <% end %>
      <% end %>
    </tr>
  </thead>

  <tbody>
    <% @courses.each do |course| %>
      <tr>
        <% if can? :do_as_instructor, :all %>
            <% if (course.Instructor == @user.name) %>
                <td><%= course.Course_num %></td>
                <td><%= course.Title %></td>
                <td><%= course.Description %></td>
                <td><%= course.Instructor %></td>
                <td><%= course.Start_date %></td>
                <td><%= course.End_date %></td>
                <td><%= course.Status %></td>
                <td><%= course.Material %></td>
                <% @course_id = course.id  %>
                <td><%= link_to 'Show', course %></td>
                <td><%= link_to 'Edit', edit_course_path(course) %></td>
            <% end %>
        <% else %>
            <td><%= course.Course_num %></td>
            <td><%= course.Title %></td>
            <td><%= course.Description %></td>
            <td><%= course.Instructor %></td>
            <td><%= course.Start_date %></td>
            <td><%= course.End_date %></td>
            <td><%= course.Status %></td>
            <td><%= course.Material %></td>
            <% if can? :do_as_student, :all %>
                <td><%= link_to 'Check Detail', course %></td>
            <% end %>

            <% if can? :do_as_admin, :all %>
                <% @course_id = course.id  %>
                <td><%= link_to 'Show', course %></td>
                <td><%= link_to 'Edit', edit_course_path(course) %></td>
                <td><%= link_to 'Delete', course, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            <% end %>
            <% end %>
      </tr>

    <% end %>


  </tbody>
</table>

<br>
    <% if can? :do_as_admin, :all %>
    <%= link_to 'New Course', new_course_path %>
    <% end %>


  </div>